{% extends "base.html.twig" %}
{% block headerTitle %}Modifier un compte{% endblock %}
{% block body %}
    <div class="account-edit-form font-title">
        {{ form(form) }}
    </div>
{% endblock %}