{% extends "base.html.twig" %}
{% block headerTitle %}S'enregistrer{% endblock %}
{% block body %}
    <form method="post" class="register-form font-title">
        <h1>Première connexion?</h1>
        <label for="username">Nom d'utilisateur</label>
        <input type="text" value="" name="_username" id="username" required autofocus>
        <label for="password">Mot de passe</label>
        <input type="password" name="_password" id="password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('register') }}"
        >

        <button type="submit">
            S'enregistrer
        </button>
    </form>
{% endblock %}