{% extends "base.html.twig" %}
{% block body %}
    <div class="homepage-container center">
        <h1>Bienvenue!</h1>
        <nav>
            <a href="/admin/artist"><span>*/</span> Artistes</a>
            <a href="/admin/concert"><span>*/</span> Concerts</a>
            <a href="/admin/scene"><span>*/</span> Scènes</a>
            <a href="/admin/partner"><span>*/</span> Partenaires</a>
            <a href="/admin/stand"><span>*/</span> Stands</a>
            <a href="/admin/wc"><span>*/</span> WC</a>
        </nav>
    </div>
{% endblock %}