{% extends "base.html.twig" %}
{% block headerTitle %}Ajout/Modification{% endblock %}
{% block body %}
    <div class="list-edit-container font-title">
        {{ form(form) }}
    </div>
{% endblock %}