#accounts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.account-container {
    background-color: var(--lesser-dark);
    border-radius: 10px;
    padding: 15px;
}

.account-container p {
    color: white;
    margin-bottom: 10px;
}

.account-edit-button {
    color: white;
    background-color: darkorange;
}

.account-delete-button {
    color: white;
    background-color: var(--red);
}

#account-create-button {
    color: white;
    background-color: forestgreen;
}

.account-edit-form {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-edit-form form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}