body {
    background-color: darkgray;
}

* {
    margin: 0;
    padding: 0;
}

.partner-container, .artist-container, .scene-container, .concert-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.partner-image-container {
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.partner-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.artist-image-container {
    width: 200px;
    height: 200px;
}

.artist-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}