{% extends "base.html.twig" %}
{% block body %}
    {% for item in scenes %}
        <div class="scene-container">
            <div>
                <p>Nom: {{ item.name }}</p>
                <p>Latitude: {{ item.latitude }}</p>
                <p>Longitude: {{ item.longitude }}</p>
            </div>
            <form method="post" action="{{ path("remove_scene", {id: item.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette scène?');">
                <button type="submit">Supprimer</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}